html {
    background-color: #e6dede;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 35%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#formContent {
    background: #30a78d;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

.fadeIn {
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #30a78d;
    border-radius: 5px;
}

.fadeIn.fourth {
    background-color: #ffffff;
    /* Green color for login button */
    color: #30a78d;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fadeIn.fourth:hover {
    background-color: #2b6b5d;
    color: white;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.alert-danger {
    color: #d8000c;
    background-color: #ffdddd;
}

.alert-success {
    color: #149696;
    background-color: #ddffdd;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-weight: 400;
    display: inline-block;
    color: #5e5555;
}

img {
    border: 3px solid black;
}

.bg-primary {
    background-color: #089789 !important;
}

.banner {
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/banner.jpg);
    /* color: white; */
    background-size: cover;
}


/* sidebar  */
@media(max-width: 600) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        /* Reset content margin */
    }
}

.active {
    background-color: #e2e2e2;
}

.sidebar {
    width: 18%;
    background: rgb(189, 186, 186);
    height: 100%;
    position: fixed;
    padding-top: 45px;
}

.sidebar a {
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 25px;
}

.sidebar a:hover {
    background: #e2e2e2;
}

.sidebar .crossbtn {
    position: absolute;
    top: 0;
    right: 35px;
    cursor: pointer;
    font-size: 36px;
}

.content {
    margin-left: 20%;
    padding-left: 2%;
}

.my-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.search-container {
    position: relative;
}

.search-result {
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}


/* about  page */
.about {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #089789;
    border: 2px solid gray;
    margin-top: 2%;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.form{
    background-color: #089789;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    border-radius: 10px;
}
input{
    border-radius: 6px;
}