<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About
    </title>
</head>
<body>

    <section>
        <div class="container">
            <div class="about">
                <h3>Smart Contact Manager is a one-stop solution for storing all your contacts safely at one place</h3>
                <br>
                <h4>Join today to get all the benefits</h4>
            </div>
        </div>
    </section>
    
</body>
</html>