<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3>Enter New Password</h3>
                            <form th:action="@{/change-pass}" method="post">
                                <div class="form-group my-2">
                                    <label for="password">New Password : </label>
                                    <input name="newPassword" type="password" class="form-control" placeholder="Enter New Password">
                                </div>
                                <div class="contaner text-center">
                                    <button type="submit" class="btn btn-success">Update Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>

</html>