<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet">
    <title>login</title>
</head>

<body>

    <section>
        <div class="container mt-4">
            <div id="" class="card text-center" style="width: 100% ;background-color: #089789;">
                <div class="card-body">
                    <div class="container" th:if="${session.message}">
                        <div th:classappend="${'alert-'+ session.message.type}" class="alert">
                          <p th:text="${session.message.content}"></p>
                        </div>
                        <th:block th:text="${@sessionHelper.removeSession()}"></th:block>
                      </div>                  
                    <br>

                    <h2 style="color: rgb(255, 255, 255);">Enter Your Registered Email</h2>
                    <br>

                    <form th:action="@{/send-otp}" method="post">
                        <input type="email" name="email" id="getemail" placeholder="Enter Email Id to Get OTP"
                            class="p-3 mt-4" style="width: 35%;" required>
                        <br>
                        <Button class="btn btn-warning mt-2">Get OTP</Button>
                    </form>

                </div>
            </div>
    </section>

</body>

</html>