<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="text-white font-weight-bold">Smart Contact Manager</h1>
            <p class="text-white">Manage you contacts in a very smarter and easier way</p>
            <button class="bg-primary btn btn-lg text-white"> <a th:href="@{/signup}" class="bg-primary text-white">Get Started</a> </button>
        </div>

    </section>

</body>

</html>